@import '../styles/variables.scss';

.header_container {
    @include center;

    min-width: 100%;
    height: 100px;

    background-color: #e3d5ca;

    color: #44403d;
    font-size: 46px;    
    font-family: Anton;

    // &--title {
        text-shadow: 2px 2px 5px grey
    // }
}